@import "text.css";
@import "images.css";
@import "layout.css";

*{
    box-sizing: border-box;
}

body,html{
    margin: 0;
    background-image: url(/images/RedWaves.svg);
    background-size: cover;
}

img{
    max-width: 100%;
}

/* Media Queries */

@media (max-width:850px){
    .grid-container__ingredients{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media (max-width:650px){
    .card__story{
    display: none;
    }
    .title{
        font-size: 40px;
    }
    .title__medium--orange{
        font-size: 30px;
        text-align: center;
    }
    .title__medium--yellow{
        font-size: 30px;
    }
    ul{
        font-size: 10px;
    }
    .grid-container__ingredients{
        display: grid;
        grid-template-columns: 1fr;
    }
    ul{
        font-size: 30px;
    }
}

@media (max-width:1200px){
    .grid-container__steps{
        display: grid;
        grid-template-columns: 1fr;
    }
}


